<div class="row">
	<div class="col-md-12 p-3">
		<div [ngClass]="classCss" role="alert" *ngIf="message">
			<strong>{{message.text}}</strong>
		</div>
	</div>
	<div class="col-md-8 offset-md-1 col-xs-12">
		<div class="box">
			<div class="box-header with-border">
				<h3 class="box-title">User list</h3>
			</div>
			<div class="box-body">
				<table class="table table-bordered">
					<tbody>
					<tr>
						<th>Email</th>
						<th>Profile</th>
						<th>&nbsp;</th>
					</tr>
					<tr *ngFor="let user of listUser">
						<td>{{user.email}}</td>
						<td>{{user.profile}}</td>
						<td>
							<button class="btn btn-sm btn-primary" (click)="edit(user.id)">Edit</button>
							<button class="btn btn-sm btn-danger" (click)="delete(user.id)">Delete</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="box-footer clearfix">
				<nav aria-label="Page navigation">
					<ul class="pagination pagination-sm no-margin pull-right">
						<li class="page-item">
							<a class="page-link" aria-label="Previous" (click)="setPreviousPage($event)">
								<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
							</a>
						</li>
						<li class="page-item" *ngFor="let p of pages; let i = index">
							<a class="page-link" [ngClass]="{'pagination-focus': i == page}" (click)="setPage(i, $event)">{{i+1}}</a>
						</li>
						<li class="page-item">
							<a class="page-link" aria-label="Next" (click)="setNexPage($event)">
								<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>


	</div>
</div>