<aside class="main-sidebar sidebar-dark-primary">

	<a href="/#" class="brand-link">
		<!--<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">-->
		<span class="brand-text font-weight-light">Help Desk</span>
	</a>

	<div class="sidebar">
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!--user-->
				<li class="nav-item has-treeview">
					<a href="#" class="nav-link">
						<i class="nav-icon fa fa-user"></i>
						<p>User
							<i class="right fa fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a [routerLink]="['/user-new']" class="nav-link">
								<i class="fa fa-circle-o nav-icon"></i>
								<p>New user</p>
							</a>
						</li>
						<li class="nav-item">
							<a [routerLink]="['/user-list']" class="nav-link">
								<i class="fa fa-circle-o nav-icon"></i>
								<p>List</p>
							</a>
						</li>
					</ul>
				</li>

				<!--ticket-->
				<li class="nav-item has-treeview">
					<a href="#" class="nav-link">
						<i class="nav-icon fa fa-ticket"></i>
						<p>Ticket
							<i class="right fa fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="fa fa-circle-o nav-icon"></i>
								<p>List</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="fa fa-circle-o nav-icon"></i>
								<p>New ticket</p>
							</a>
						</li>
					</ul>
				</li>

				<!--summary-->
				<li class="nav-item has-treeview">
					<a href="#" class="nav-link">
						<i class="nav-icon fa fa-book"></i>
						<p>Summary
							<i class="right fa fa-angle-left"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="fa fa-circle-o nav-icon"></i>
								<p>List</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link">
								<i class="fa fa-circle-o nav-icon"></i>
								<p>New summary</p>
							</a>
						</li>
					</ul>
				</li>

			</ul>
		</nav>
	</div>
</aside>